<div id="entropy" style="float:left;position:relative;width:200px;max-height:20px"></div>

<div id="passphrase-div" style="clear:left;position:relative;width:198px">
  <input id="passphrase" type="text" style="width:100%;border:1px solid #000;background:#e1e1e1;padding:1px" />
  <%= link_to 'Create', '#', :id => 'create-user' %>
</div>

<div id="submission" style="clear:left;position:relative">
<%= form_for(@user, :url => users_path, :remote => true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :encrypted_private_key %>
  <%= f.hidden_field :public_key %>
  <%= f.hidden_field :encrypted_signing_key %>
  <%= f.hidden_field :verification_key %>
<% end %>
</div>
