<div>
  <label for="entropy">Entropy:</label>
  <span id="entropy">0.00</span>
</div>

<input id="private_key" type="hidden" value="insufficient entropy"/>
<input id="signing_key" type="hidden" value="insufficient entropy"/>

<div>
  <label for="passphrase">Passphrase</label><br />
  <input id="passphrase" type="text" size="30" />
  <span id="encrypted"><%= link_to 'Encrypt Keys', '#', :id => 'encrypt_keys' %></span>
</div>

<%= form_for(@user, :url => users_path, :remote => true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :encrypted_private_key %>
  <%= f.hidden_field :public_key %>
  <%= f.hidden_field :encrypted_signing_key %>
  <%= f.hidden_field :verification_key %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
