<div>
  <label for="entropy">Entropy:</label>
  <span id="entropy">0.00</span>
</div>
<div>
  <label for="private_key">Private Key:</label><br />
  <input id="private_key" type="text" size="30" value="insufficient entropy"/>
</div>
<div>
  <label for="passphrase">Passphrase</label><br />
  <input id="passphrase" type="text" size="30" />
  <%= link_to 'Encrypt Key', '#', :id => 'encrypt_key' %>
</div>

<%= form_for(@user, :url => users_path, :remote => true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :encrypted_private_key %><br />
    <%= f.text_field :encrypted_private_key %>
  </div>
  <div class="field">
    <%= f.label :public_key %><br />
    <%= f.text_field :public_key %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
