<h1>Listing users</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Public Key</th>
    <th>Encrypted Private Key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.uuid %></td>
    <td><%= user.public_key %></td>
    <td><%= user.encrypted_private_key %></td>
    <td><%= link_to 'Show', users_uuid_path(user.uuid)  %></td>
    <td><%= link_to 'Edit', users_uuid_edit_path(user.uuid) %></td>
    <td><%= link_to 'Destroy', users_uuid_destroy_path(user.uuid), confirm: 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
