<p id="notice"><%= notice %></p>

<input id="user_uuid" type="hidden" value="<%= @user.uuid %>"/>
<input id="public_key" type="hidden" value="<%= @user.public_key %>"/>
<input id="encrypted_private_key" type="hidden" value="<%= @user.encrypted_private_key %>"/>

<p>
  <b>UUID:</b>
  <%= @user.uuid %>
</p>

<div>
  <label for="passphrase">Passphrase</label>
  <input type="text" id="passphrase" size="30" />
</div>

<%= link_to 'Decrypt', '#', :id => 'decrypt' %>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Message</th>
      <th>Verified</th>
    </tr>
  </thead>
  <tbody id="messages"></tbody>
</table>

<p id="messages_status">Loading messages...</p>
<p id="message_keys_status">Loading message keys...</p>

<%= link_to 'Edit', users_uuid_edit_path(@user.uuid) %> |
<%= link_to 'Back', users_path %>
