<% content_for :head do %>
  <script type="text/javascript">
    <%= render :partial => "show_js" %>
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<input id="user_uuid" type="hidden" value="<%= @user.uuid %>"/>

<p>
  <b>UUID:</b>
  <%= @user.uuid %>
</p>

<div>
  <label for="passphrase">Passphrase</label>
  <input type="text" id="passphrase" size="30" />
  <%= link_to 'Retrieve Messages', '#', :id => 'retrieve' %>
</div>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody id="messages"></tbody>
</table>

<%= link_to 'Back', users_path %>
